.topmenu .nav-tabs > .active > a, .topmenu .nav-tabs > .active > a:hover, .topmenu .nav-tabs > .active > a:focus {
    color: #555;
    background-color: white;
    border: 2px solid #FF8000;
    border-bottom-color: transparent;
    cursor: default;
}
.topmenu .nav-tabs {
    border-bottom: 2px solid #FF8000;
}
.topmenu .nav-tabs > li {
    margin-bottom: -2px;
}

.topmenu .nav {
    margin-left: 0;
    margin-bottom: 0px;
}



.topmenu .nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 16px;
    border: 2px solid #FF8000;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.topmenu .nav-tabs a {
    color: #FFFFFF;
    text-decoration: none;
}
.topmenu .nav-tabs > li > a, .topmenu .nav-pills > li > a {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 2px;
    line-height: 14px;
    background: #505050;
}

.topmenu .tabbable{
    margin: -32px 0 20px 0;
}

.topmenu .tab-content {
    background: #FFFFFF;
    padding: 3px;
    border-bottom: 1px solid #ddd;
    height: 31px;
}
