<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}Админка{% endblock %}</title>

  <script type="text/javascript" src="/bundles/jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/bundles/jquery/jquery-ui-1.10.0.custom.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/bundles/bootstrap/css/bootstrap.css">
  <script type="text/javascript" src="/bundles/bootstrap/js/bootstrap.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/bundles/admin/css/styles.css">
  
</head>
<body>
{% block topmenu %}
{% include 'common/topmenu.twig' %}
{% endblock topmenu %}
{% block content %}
  <div class="container-fluid">
  {{ content }}
  </div>
{% endblock content %}
</body>
</html>
