<div class="topmenu">
    <div class="navbar navbar-inverse navbar-fixed-top" style="position: initial">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/admin/">Админка 3.0</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class=""><a href="./base-css.html">Base CSS</a></li>
              <li class=""><a href="./components.html">Components</a></li>
              <li class="active"><a href="./javascript.html">JavaScript</a></li>
              <li class=""><a href="./customize.html">Customize</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="tabbable">
      <ul class="nav nav-tabs" style="padding-left: 150px;">
      {% for item in topmenu %}
        <li class=""><a href="#{{ item.id }}" data-toggle="tab">{{ item.title }}</a></li>
      {% endfor %}
      
        <li class="active"><a href="#tab1" data-toggle="tab">Администрирование</a></li>
        <li class=""><a href="#tab2" data-toggle="tab">База данных</a></li>
        <li class=""><a href="#tab3" data-toggle="tab">Конфигурация</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <div class="btn-group">
            <a class="btn" href="#">Пользователи</a>
            <a class="btn" href="#">Хаос</a>
          </div>
        </div>
        <div class="tab-pane" id="tab2">
          <div class="btn-group">
            <a class="btn" href="#">База товаров</a>
            <a class="btn" href="#">Каталог</a>
          </div>
        </div>
        <div class="tab-pane" id="tab3">
          <div class="btn-group">
            <a class="btn" href="#">Настройки пользователей</a>
            <a class="btn" href="#">Статистика</a>
          </div>
        </div>
      </div>
    </div>
    
</div>